<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Example</title>
	</head>
	<style>
		body {
			background-color: #EBEDF3
		}

		div {
			border: 1px solid black
		}
	</style>

	<body>
		<p>Start Template Build <?=date('H:i:s') ?></p>
		<div id="div1">Div 1</div>
		<div id="div2">Div 2</div>
		<div id="div3">Div 3</div>
		<div id="div4">Div 4</div>
		<div id="div5">Div 5</div>
		<div id="div6">Div 6</div>
		<div id="div7">Div 7</div>
		<div id="div8">Div 8</div>
		<div id="div9">Div 9</div>
		<p>End Template Build<?=date('H:i:s') ?></p>
	</body>

</html>