<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Example</title>
	</head>
	<style>
		body {
			background-color: #EBEDF3
		}

		.e {
			border: 1px solid black;
			padding: 4px 8px;
			border-radius: 4px;
			margin: 2px;
			height: 36px;
			line-height: 36px;
		}
	</style>

	<body>
		<p class="e">Start Template Build <?=date('H:i:s') ?></p>
		<div class="e">
			<div id="div1">Div 1</div>
		</div>
		<div class="e">
			<div id="div2">Div 2</div>
		</div>
		<div class="e">
			<div id="div3">Div 3</div>
		</div>
		<div class="e">
			<div id="div4">Div 4</div>
		</div>
		<div class="e">
			<div id="div5">Div 5</div>
		</div>
		<div class="e">
			<div id="div6">Div 6</div>
		</div>
		<div class="e">
			<div id="div7">Div 7</div>
		</div>
		<div class="e">
			<div id="div8">Div 8</div>
		</div>
		<div class="e">
			<div id="div9">Div 9</div>
		</div>

		<p class="e">End Template Build <?=date('H:i:s') ?></p>
	</body>

</html>